---
import Currency from '@/components/Currency';
import "../styles/global.css"
---

<section>
  <Currency />
  <h1>TEST</h1>
  <ul>
    <li><a href="/test">TESTING PAGE</a></li>
    </ul>
</section>
