@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", system-ui;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #2d3748;
  color: white;
  padding: 1rem;
  transform: translateX(-100%) !important;
  transition: transform 0.3s ease !important;
  z-index: 50;
}

.sidebar.open {
  transform: translateX(0) !important;
}

.clip-line {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  background: rgba(255, 0, 0, 0.5); /* Use a semi-transparent red */
}

.calendar-wrapper {
  pointer-events: auto; /* Allows the calendar to respond to clicks */
  z-index: 10; /* Ensures the calendar is on top of other elements */
}

.calendar-container {
  pointer-events: none; /* Prevents clicks from registering outside the calendar */
}
